/*--------------font--------------*/
@font-face {
    font-family: 'Santana';
    src: url('../font/Santana-Black.eot');
    src: url('../font/Santana-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Santana-Black.eotSantana-Black.woff2') format('woff2'),
        url('../font/Santana-Black.eotSantana-Black.woff') format('woff'),
        url('../font/Santana-Black.eotSantana-Black.ttf') format('truetype'),
        url('../font/Santana-Black.eotSantana-Black.svg#Santana-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santana-BlackCondensed';
    src: url('../font/Santana-Black.eotSantana-BlackCondensed.eot');
    src: url('../font/Santana-Black.eotSantana-BlackCondensed.eot?#iefix') format('embedded-opentype'),
        url('../font/Santana-Black.eotSantana-BlackCondensed.woff2') format('woff2'),
        url('../font/Santana-Black.eotSantana-BlackCondensed.woff') format('woff'),
        url('../font/Santana-Black.eotSantana-BlackCondensed.ttf') format('truetype'),
        url('../font/Santana-Black.eotSantana-BlackCondensed.svg#Santana-BlackCondensed') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santana';
    src: url('../font/Santana-Black.eotSantana.eot');
    src: url('../font/Santana-Black.eotSantana.eot?#iefix') format('embedded-opentype'),
        url('../font/Santana-Black.eotSantana.woff2') format('woff2'),
        url('../font/Santana-Black.eotSantana.woff') format('woff'),
        url('../font/Santana-Black.eotSantana.ttf') format('truetype'),
        url('../font/Santana-Black.eotSantana.svg#Santana') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santana';
    src: url('../font/Santana-Black.eotSantana-Bold.eot');
    src: url('../font/Santana-Black.eotSantana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Santana-Black.eotSantana-Bold.woff2') format('woff2'),
        url('../font/Santana-Black.eotSantana-Bold.woff') format('woff'),
        url('../font/Santana-Black.eotSantana-Bold.ttf') format('truetype'),
        url('../font/Santana-Black.eotSantana-Bold.svg#Santana-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SantanaXtraCondensed';
    src: url('../font/Santana-Black.eotSantanaXtraCondensed.eot');
    src: url('../font/Santana-Black.eotSantanaXtraCondensed.eot?#iefix') format('embedded-opentype'),
        url('../font/Santana-Black.eotSantanaXtraCondensed.woff2') format('woff2'),
        url('../font/Santana-Black.eotSantanaXtraCondensed.woff') format('woff'),
        url('../font/Santana-Black.eotSantanaXtraCondensed.ttf') format('truetype'),
        url('../font/Santana-Black.eotSantanaXtraCondensed.svg#SantanaXtraCondensed') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Santana-RegularCondensed';
    src: url('../font/Santana-Black.eotSantana-RegularCondensed.eot');
    src: url('../font/Santana-Black.eotSantana-RegularCondensed.eot?#iefix') format('embedded-opentype'),
        url('../font/Santana-Black.eotSantana-RegularCondensed.woff2') format('woff2'),
        url('../font/Santana-Black.eotSantana-RegularCondensed.woff') format('woff'),
        url('../font/Santana-Black.eotSantana-RegularCondensed.ttf') format('truetype'),
        url('../font/Santana-Black.eotSantana-RegularCondensed.svg#Santana-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*--------------font--------------*/


/*--------------whole page--------------*/
body{
    font-family: "Santana", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F0EA;
}
/*--------------whole page--------------*/

/*--------------Navigation Bar--------------*/
.navigationBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #006140;
    box-shadow: rgba(3, 0, 0, 0.7) 0px 2px 8px 0px;
}

.menu-wrap {
    max-width: 1366px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.logo {
    font-size: 2rem;
    color: #fffcfc;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
}

.menuNav{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.menuNav a{
    text-decoration: none;
}

.nav-item{
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 800;
    font-size: 14px;
    transition: .4s ease-in;
    border-radius: 20px;
    color: #fffcfc;
    letter-spacing: .5px;
}

.nav-item:hover,
.nav-item.active{
    background-color: black;
}
/*--------------Navigation Bar--------------*/

/*--------------LoginBox--------------*/
.login-box {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #F2F0EA;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.7);
    border-radius: 10px;
  }

  .login-box .user-box {
    position: relative;
  }

  .inputAnimation{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #006140;
    outline: none;
    background: transparent;
  }
  .labelAnimation {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
  }

  .inputAnimation:focus ~ .labelAnimation,
  .inputAnimation:valid ~ .labelAnimation{
    top: -20px;
    left: 0;
    color: #006140;
    font-size: 12px;
  }

input[type="radio"]{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

input[type="radio"]:checked{
    accent-color: #006140;
}

.survey {
    margin: 1rem 0px;
}

input[type="submit"]{
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    padding: 5px 1rem;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #006140;
 }

.buttoninput{
    text-align: center;
    font-weight: 200;
    font-size: 15px;
    margin: 1rem 0;
}

input[type="submit"]:hover{
    letter-spacing: 1px;
    box-shadow: rgba(0, 97, 64, 0.7) 0px 2px 8px 0px;;
 }

  
