*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

/*--------navigation-----------*/
.navigation-menu{
    position: relative;
    padding: 0px 5px 0px 80px;
    z-index: 999;
    overflow:scroll;
    background-color: black;
  }
  
  .navigation-menu a{
      float: left;
      color: #f2f2f2;
      text-align: center;
      margin: 20px 40px 20px 10px;
      text-decoration: none;
      font-size: 17px;
      z-index: 999;
  }
  
  .navigation-menu a:hover{
      color: #eb196e;
  }

/*----------galaxy background-----------*/
body{
    background-color: #000;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 100vh
}

  
  .main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: -27vw 37vh 2px 3px #fff,-10vw -9vh 3px 3px #fff,-44vw 28vh 2px 0px #fff,-46vw -9vh 2px 3px #fff,48vw 12vh 0px 1px #fff,-50vw -22vh 0px 2px #fff,-22vw 1vh 2px 0px #fff,19vw 12vh 0px 0px #fff,-6vw -39vh 1px 1px #fff,40vw -26vh 0px 2px #fff,18vw 43vh 2px 2px #fff,49vw -34vh 2px 3px #fff,-47vw 49vh 3px 2px #fff,26vw -43vh 1px 1px #fff,-34vw 14vh 0px 1px #fff,1vw -37vh 2px 2px #fff,-34vw -20vh 2px 1px #fff,42vw -10vh 2px 3px #fff,-29vw 39vh 0px 1px #fff,17vw 46vh 3px 2px #fff,-49vw 35vh 1px 0px #fff,-14vw -6vh 3px 0px #fff,-33vw 11vh 0px 0px #fff,-20vw -12vh 2px 0px #fff,-34vw -25vh 0px 2px #fff,36vw 15vh 1px 0px #fff,-19vw -13vh 1px 1px #fff,15vw 9vh 1px 2px #fff,-1vw -10vh 1px 3px #fff,-47vw 36vh 3px 2px #fff,-27vw -34vh 3px 0px #fff,13vw -26vh 2px 3px #fff,-17vw 47vh 0px 2px #fff,5vw 44vh 0px 3px #fff,18vw 16vh 3px 0px #fff,37vw 23vh 1px 0px #fff,-39vw 49vh 3px 0px #fff,-44vw 19vh 2px 1px #fff,-16vw -6vh 3px 0px #fff,8vw -38vh 1px 1px #fff,-33vw 39vh 3px 2px #fff,-15vw -6vh 1px 0px #fff,-41vw -3vh 3px 1px #fff,-7vw 0vh 0px 1px #fff,14vw 15vh 3px 2px #fff,27vw -26vh 3px 1px #fff,-25vw 39vh 2px 0px #fff,32vw 28vh 1px 2px #fff,34vw 13vh 1px 1px #fff,-17vw -8vh 3px 1px #fff,20vw -21vh 0px 0px #fff,-28vw 48vh 1px 0px #fff,-41vw -26vh 1px 1px #fff,16vw -36vh 3px 1px #fff,8vw -2vh 3px 3px #fff,45vw -18vh 2px 1px #fff,25vw -44vh 3px 0px #fff,-34vw 33vh 0px 3px #fff,-40vw -31vh 1px 1px #fff,2vw -14vh 1px 2px #fff,3vw -1vh 3px 2px #fff,17vw 18vh 3px 1px #fff,31vw 39vh 3px 1px #fff,-47vw 20vh 1px 0px #fff,-42vw 20vh 2px 2px #fff,39vw -47vh 2px 3px #fff,36vw -34vh 3px 1px #fff,23vw 13vh 0px 0px #fff,38vw 4vh 0px 0px #fff,-20vw -28vh 0px 2px #fff,17vw 3vh 2px 0px #fff,0vw 17vh 0px 0px #fff,12vw -18vh 3px 1px #fff,27vw -41vh 2px 2px #fff,26vw 20vh 2px 0px #fff,27vw -46vh 1px 1px #fff,-33vw 3vh 3px 1px #fff,-28vw -28vh 2px 3px #fff,-47vw 29vh 2px 0px #fff,-49vw -15vh 1px 3px #fff,13vw 37vh 1px 3px #fff,-27vw -16vh 2px 0px #fff,8vw -27vh 1px 2px #fff,-9vw -10vh 1px 3px #fff,2vw 2vh 1px 2px #fff,-32vw -11vh 1px 3px #fff,-30vw -22vh 0px 0px #fff,39vw -9vh 2px 3px #fff,-37vw 49vh 2px 0px #fff,-20vw -19vh 2px 1px #fff,-39vw 23vh 2px 0px #fff,36vw -32vh 0px 2px #fff,43vw -31vh 0px 2px #fff,-23vw -20vh 3px 1px #fff,46vw 13vh 2px 3px #fff,43vw 25vh 1px 1px #fff,41vw -1vh 3px 0px #fff,43vw -3vh 0px 1px #fff,29vw 1vh 2px 0px #fff,-17vw 46vh 0px 3px #fff;
    animation: zoom 10s alternate infinite;

  }

  @keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
  }
/*-------setting position for list----------*/

.headingAnimation{
    padding: 0;
    margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
   font-size: 40px;

}

.animation{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*-------setting position for list----------*/


/*------animation for list-----------*/
.animation{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
}

.linkAnimation{
    color: #484848;
}

a span{
    transition: .5s linear
  }

.linkAnimation:hover span:nth-child(1){
    margin-right: 5px
 }

 .linkAnimation:hover span:nth-child(1):after{
    content: "";
  }
  .linkAnimation:hover span:nth-child(2){
    margin-left: 30px
  }
  .linkAnimation:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }

footer{
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:640px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

/*--------navigation-----------*/
.navigation-menu{
    position: relative;
    padding: 0px 5px 0px 80px;
    z-index: 999;
    overflow:scroll;
    background-color: black;
  }
  
  .navigation-menu a{
      float: left;
      color: #f2f2f2;
      text-align: center;
      margin: 20px 40px 20px 10px;
      text-decoration: none;
      font-size: 17px;
      z-index: 999;
  }
  
  .navigation-menu a:hover{
      color: #eb196e;
  }

/*----------galaxy background-----------*/
body{
    background-color: #000;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 100vh
}

  
  .main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    box-shadow: -27vw 37vh 2px 3px #fff,-10vw -9vh 3px 3px #fff,-44vw 28vh 2px 0px #fff,-46vw -9vh 2px 3px #fff,48vw 12vh 0px 1px #fff,-50vw -22vh 0px 2px #fff,-22vw 1vh 2px 0px #fff,19vw 12vh 0px 0px #fff,-6vw -39vh 1px 1px #fff,40vw -26vh 0px 2px #fff,18vw 43vh 2px 2px #fff,49vw -34vh 2px 3px #fff,-47vw 49vh 3px 2px #fff,26vw -43vh 1px 1px #fff,-34vw 14vh 0px 1px #fff,1vw -37vh 2px 2px #fff,-34vw -20vh 2px 1px #fff,42vw -10vh 2px 3px #fff,-29vw 39vh 0px 1px #fff,17vw 46vh 3px 2px #fff,-49vw 35vh 1px 0px #fff,-14vw -6vh 3px 0px #fff,-33vw 11vh 0px 0px #fff,-20vw -12vh 2px 0px #fff,-34vw -25vh 0px 2px #fff,36vw 15vh 1px 0px #fff,-19vw -13vh 1px 1px #fff,15vw 9vh 1px 2px #fff,-1vw -10vh 1px 3px #fff,-47vw 36vh 3px 2px #fff,-27vw -34vh 3px 0px #fff,13vw -26vh 2px 3px #fff,-17vw 47vh 0px 2px #fff,5vw 44vh 0px 3px #fff,18vw 16vh 3px 0px #fff,37vw 23vh 1px 0px #fff,-39vw 49vh 3px 0px #fff,-44vw 19vh 2px 1px #fff,-16vw -6vh 3px 0px #fff,8vw -38vh 1px 1px #fff,-33vw 39vh 3px 2px #fff,-15vw -6vh 1px 0px #fff,-41vw -3vh 3px 1px #fff,-7vw 0vh 0px 1px #fff,14vw 15vh 3px 2px #fff,27vw -26vh 3px 1px #fff,-25vw 39vh 2px 0px #fff,32vw 28vh 1px 2px #fff,34vw 13vh 1px 1px #fff,-17vw -8vh 3px 1px #fff,20vw -21vh 0px 0px #fff,-28vw 48vh 1px 0px #fff,-41vw -26vh 1px 1px #fff,16vw -36vh 3px 1px #fff,8vw -2vh 3px 3px #fff,45vw -18vh 2px 1px #fff,25vw -44vh 3px 0px #fff,-34vw 33vh 0px 3px #fff,-40vw -31vh 1px 1px #fff,2vw -14vh 1px 2px #fff,3vw -1vh 3px 2px #fff,17vw 18vh 3px 1px #fff,31vw 39vh 3px 1px #fff,-47vw 20vh 1px 0px #fff,-42vw 20vh 2px 2px #fff,39vw -47vh 2px 3px #fff,36vw -34vh 3px 1px #fff,23vw 13vh 0px 0px #fff,38vw 4vh 0px 0px #fff,-20vw -28vh 0px 2px #fff,17vw 3vh 2px 0px #fff,0vw 17vh 0px 0px #fff,12vw -18vh 3px 1px #fff,27vw -41vh 2px 2px #fff,26vw 20vh 2px 0px #fff,27vw -46vh 1px 1px #fff,-33vw 3vh 3px 1px #fff,-28vw -28vh 2px 3px #fff,-47vw 29vh 2px 0px #fff,-49vw -15vh 1px 3px #fff,13vw 37vh 1px 3px #fff,-27vw -16vh 2px 0px #fff,8vw -27vh 1px 2px #fff,-9vw -10vh 1px 3px #fff,2vw 2vh 1px 2px #fff,-32vw -11vh 1px 3px #fff,-30vw -22vh 0px 0px #fff,39vw -9vh 2px 3px #fff,-37vw 49vh 2px 0px #fff,-20vw -19vh 2px 1px #fff,-39vw 23vh 2px 0px #fff,36vw -32vh 0px 2px #fff,43vw -31vh 0px 2px #fff,-23vw -20vh 3px 1px #fff,46vw 13vh 2px 3px #fff,43vw 25vh 1px 1px #fff,41vw -1vh 3px 0px #fff,43vw -3vh 0px 1px #fff,29vw 1vh 2px 0px #fff,-17vw 46vh 0px 3px #fff;
    animation: zoom 10s alternate infinite;

  }

  @keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
  }
/*-------setting position for list----------*/

.headingAnimation{
    padding: 0;
    margin: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px;
   font-size: 40px;

}

.animation{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*-------setting position for list----------*/


/*------animation for list-----------*/
.animation{
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
}

.linkAnimation{
    color: #484848;
}

a span{
    transition: .5s linear
  }

.linkAnimation:hover span:nth-child(1){
    margin-right: 5px
 }

 .linkAnimation:hover span:nth-child(1):after{
    content: "";
  }
  .linkAnimation:hover span:nth-child(2){
    margin-left: 30px
  }
  .linkAnimation:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }

footer{
    text-align: center;
    padding: 20px;
}
}